.fiebre{
    background-color: red;
}
.no-fiebre{
    background-color: greenyellow;
}
.advertencia{
    background-color: yellow;
}
.logo{
    background-image: url("../img/logo sena.png");
    /* background-image: url("/img/logo sena.png"); */
    background-size: cover;
    background-repeat: no-repeat;
}
.tam{
    width: 300px;
    height: 300px;
}